<!-- LudoJS Credits. -->
<div class="container">
	<div id="CreditsBox">
		<button id="CreditsBtn" class="MainButton">{{ site.data[page.lang].HIDE_CREDITS_BOX }}</button>

		<div id="Credits_Language" class="container">
			{{ site.data[page.lang].CREDITS_TRANSLATIONS }}<br>
			<ul>
				<li>Deutsch: <a href="https://supersaiyajinstackz.github.io">SuperSaiyajinStackZ</a></li>
				<li>English: <a href="https://supersaiyajinstackz.github.io">SuperSaiyajinStackZ</a></li>
				<li>日本語: <a href="https://pk11.us">Pk11</a></li>
			</ul>
		</div>
	</div>
</div>