<!-- Benötigt, damit auf die Strings in JavaScript zugegriffen werden kann. -->
<div id="STRINGS"
	data-export_game_msg="{{ site.data[page.lang].EXPORT_GAME_MSG }}"
	data-player_amount_warn="{{ site.data[page.lang].PLAYER_AMOUNT_WARN }}"
	data-figure_amount_warn="{{ site.data[page.lang].FIGURE_AMOUNT_WARN }}"
	data-player_1_won="{{ site.data[page.lang].PLAYER_1_WON }}"
	data-player_2_won="{{ site.data[page.lang].PLAYER_2_WON }}"
	data-player_3_won="{{ site.data[page.lang].PLAYER_3_WON }}"
	data-player_4_won="{{ site.data[page.lang].PLAYER_4_WON }}"
	data-gamedata_invalud="{{ site.data[page.lang].GAMEDATA_INVALID }}"
	data-gamedata_not_selected="{{ site.data[page.lang].GAMEDATA_NOT_SELECTED }}"
	data-dice_roll_warning="{{ site.data[page.lang].DICE_ROLL_WARNING }}">
</div>