/*
	Zeige nichts an.
*/
.showNone {
	display: none;
}

/*
	Schaltflächen Stil.

	Dies sollte den Ludo3DS Schaltflächen Stil ähneln.
*/
.MainButton {
	border-left-color: #023884;
	border-top-color: #7E6800;
	border-right-color: #008548;
	border-bottom-color: #A10000;
	border-width: 10px;
	background-color: #727272;
	text-align: center;
	color: #B5B5B5;
}

/*
	Spieler Schaltflächen.
*/
.ButtonP1 {
	border-color: #A10000;
	border-width: 5px;
	background-color: #727272;
	text-align: center;
	color: #B5B5B5;
}
.ButtonP2 {
	border-color: #023884;
	border-width: 5px;
	background-color: #727272;
	text-align: center;
	color: #B5B5B5;
}
.ButtonP3 {
	border-color: #7E6800;
	border-width: 5px;
	background-color: #727272;
	text-align: center;
	color: #B5B5B5;
}
.ButtonP4 {
	border-color: #008548;
	border-width: 5px;
	background-color: #727272;
	text-align: center;
	color: #B5B5B5;
}

/*
	Haupt Benutzer-Oberflächen Stil.
*/
#UIStyle {
	background-color: #622E03;
	color: #B5B5B5;
}

/*
	Spielfeld.
*/
#GamePlay {
	background-color: #622E03;
	color: #B5B5B5;
}

/*
	Copyright-Notiz.
*/
#Copyright_Notice {
	background-color: #B44403;
	color: #FFFFFF;
}

/*
	Beschreibungs-Information.
*/
#Info_Description {
	background-color: #A13C01;
	color: #FFFFFF;
}

/*
	Feature-Liste.
*/
#Info_Features {
	background-color: #8B3301;
	color: #FFFFFF;
}

/*
	Geplannte Dinge.
*/
#Info_Planned {
	background-color: #752B00;
	color: #FFFFFF;
}