---
---

/* Zeige nichts an. */
.showNone {
	display: none;
};

/* UI Style. */
#UIStyle {
	background-color: RGBA(140, 80, 30, 255);
	color: whitesmoke;
};

/* Spielfeld. */
#GamePlay {
	background-color: RGBA(140, 80, 30, 255);
};